@model TeleBot.ViewModels.CommentModel
@{
    Layout = "_SecondLayout";
}

@{
    foreach (var item in @Model.allComs)
    {
        <div>
            <p> @item.Text </p>
        </div>
    }
}
<form asp-action="Index" asp-controller="Comment" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Comment">Введите комментарий</label>
            <input type="text" asp-for="Comment" />
            <span asp-validation-for="Comment" />
        </div>
        <input type="submit" value="Отправить" class="btn btn-outline-dark" />
    </div>
</form>
@{ if (Model.CurrentPage - 1 != 0 && Model.CurrentPage != Model.MaxPage)
    {
    <a asp-action="Index" asp-controller="Comment" asp-route-id="@(Model.CurrentPage - 1)"> &lt; </a>
        <a asp-action="Index" asp-controller="Comment" asp-route-id="@(Model.CurrentPage)"> @Model.CurrentPage</a>
        <a asp-action="Index" asp-controller="Comment" asp-route-id="@(Model.CurrentPage + 1)"> &gt;</a>
    }
    else if (Model.CurrentPage - 1 == 0 && Model.CurrentPage != Model.MaxPage)
    {
        <a asp-action="Index" asp-controller="Comment" asp-route-id="@(Model.CurrentPage)"> @Model.CurrentPage</a>
        <a asp-action="Index" asp-controller="Comment" asp-route-id="@(Model.CurrentPage + 1)"> &gt; </a>
    }
    else if (Model.CurrentPage == Model.MaxPage && Model.CurrentPage - 1 != 0)
    {
        <a asp-action="Index" asp-controller="Comment" asp-route-id="@(Model.CurrentPage - 1)"> &lt;</a>
        <a asp-action="Index" asp-controller="Comment" asp-route-id="@(Model.CurrentPage)"> @Model.CurrentPage</a>
    }
}